<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Contacts List</h1>
    <h1>Hello,</h1>
    <h1 data-th-text="${sessionid}"></h1>
    <ul data-th-each="contact:${contactslist}">
        <a data-th-href="@{/form/contact/{id}(id=${contact.id})}"><li data-th-text="*{contact.id}"></li>
        <li data-th-text="*{contact.name}"></li></a>
    </ul>
</body>
</html>